@import "bourbon"
@import "sass/vars"
@import "sass/base"

//First screen styles

// HeaderWidger
#header-widget
    padding: 0
    line-height: 50px
    font-size: em(14px)
    ul
        height: 50px
        li
            display: inline-block
            float: left
            margin-right: 25px
            span
                float: left
    i, .fa
        color: #ffffff
        float: left
        font-size: 20px
        line-height: 50px

    .user-panel
        div
            float: left
        .button,
        .dropdown-button
            border: none
            float: left
            margin: 0 5px
            padding: 0 10px
            i, .fa
                margin: 0
                color: $gray-color
            &.active, &:hover
                i, .fa
                    color: #ffffff
        .exit-button
            margin-right: -7px
        .notification.button,
        .notification.dropdown-button
            i, .fa
                color: $green-color
            &.active, &:hover
                i, .fa
                    color: #ffffff
            &:after
                right: 0
                top: 11px
                background: $green-color
                border: 3px solid $dark-color
        .notifications .notification:after
                right: 7px
        .letters .notification:after
                right: 2px
        .active a
            i, .fa
                color: #ffffff
        .avatar
            width: 40px
            margin: 5px 15px 0 0
        .dropdown
            position: inherit
            &.active
                .button,
                .dropdown-button
                    i, .fa
                        color: #ffffff
                .dropdown-arrow
                    &:after
                        background: $light-color
                        top: 44px
                        right: 50%
                        margin-right: -5px
        .dropdown-container
            top: 50px
            width: 314px
            background-color: $light-color
            padding: 10px 0
            a i, a .fa, i, .fa
                float: none
                color: $dark-color
            i, .fa
                line-height: 1
            .container-header
                padding: 0 11px 10px
                i, .fa
                    color: $dark-color
            .container-body
                padding: 0px 6px
            ul
                height: auto
            .list
                height: auto
                padding: 5px 0
                li
                    width: 100%
                    position: relative
                    padding: 7px 0
                    border-top: 1px solid #ffffff
                    border-bottom: 1px solid #eeeeee
                    &:first-child
                        border-top: none
                    &:last-child
                        border-bottom: none
                    a
                        span
                            text-decoration: none
                        &:first-child
                            position: relative
                            padding: 0 30px 0 45px
                            display: inline-block
                            width: 100%
                            > i, > .fa
                                margin: 0 15px 0 5px
                                position: absolute
                                left: 8px
                                top: 2px
                        &.delete-button
                            position: absolute
                            top: 7px
                            right: 0
                            > i, > .fa
                                color: $gray-color
                                font-size: 14px
                                padding: 0 5px
                    .avatar
                        width: 22px
                        margin: 0 15px 0 5px
                        position: absolute
                        left: 5px
                        top: 2px
                    .text, .small-text
                        display: inline-block
                        width: 100%
                    .small-text
                        color: $gray-color
                        font-size: em(11px)
                    .text
                        font-size: em(14px)
                &.letters-list
                    a
                        &:first-child
                            padding: 0 30px 0 5px
            .user-menu
                float: left
                li
                    float: left
                    width: 90px
                    margin: 5px
                    padding: 10px 0
                    text-align: center
                    a
                        display: inline-block
                        width: 100%
                        color: $dark-gray-color
                        span
                            text-decoration: none
                            display: inline-block
                            width: 100%
                            float: none
                            margin-top: 10px
                        i, .fa
                            color: $gray-color
                            float: none
                            font-size: 24px
                            margin: 0
                    &.active a, a:hover, a:focus,
                    a:hover span
                        opacity: 1
                        color: $dark-color
                        i, .fa
                            color: inherit
                    &.notification
                        &:after
                            right: 17px
                            top: 2px
        .user
            .dropdown-container
                .container-header
                    .title
                        float: none

// End HeaderWidger

// Header
body.is-windows-phone
    #header
        .logo
            height: 100%
#header
    margin-bottom: 24px
    .logo
        margin: 20px 0
    h1
        margin-top: 28px
        float: left
        .slogan
            margin-top: 10px
            display: block
            font-size: 0.5em
            line-height: 1.2
            opacity: 0.8

    .contact-menu
        margin-top: 35px
    .social-links
        margin-top: 30px

    .info-menu
        margin: 15px 0
        float: right
    .info-icon
        font-size: 30px
        color: $accent-color
        margin: 15px
// End Header

// Main Menu
.menu-section
    position: relative
    display: inline-block
    width: 100%
    background: linear-gradient(to top, $light-gradient-colors)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    border: 1px solid #f9f9f9
    border-bottom: none
    border-radius: 3px
    line-height: 30px
    padding: 0 5px

    // menu
    .main-menu
        position: relative
        li
            float: left
            padding: 11px 15px
            border-bottom: 1px solid #f9f9f9
            border-right: 1px solid #fff
            border-left: 1px solid #eee
            &:first-child
                border-left: none
            &:last-child
                border-right: none
            i.fa
                margin-left: 7px
                margin-right: 0
            a
                font-size: em(18px)
                color: #333
                text-decoration: none
                &:hover
                    color: $accent-color
                span
                    text-decoration: none
            // submenu
            ul
                display: none
                position: absolute
                z-index: 999
                top: 54px
                margin-left: -15px
                background: linear-gradient(to bottom, $light-gradient-colors)
                border-radius: 0 0 2px 2px
                border: 1px solid #f9f9f9
                border-top: 1px solid #eeeeee
                padding: 10px 0
                li
                    padding: 0
                    float: none
                    line-height: 1.6
                    border: none
                    margin-bottom: 5px
                    a
                        display: block
                        padding: 0 20px
                        font-size: em(16px)
            &:hover
                ul
                    display: block
        li.active
            a
                color: $accent-color

    .search-form
        width: 280px
        position: absolute
        z-index: 10
        right: 20px
        margin: 10px 0 0 0
        input, button
            border: none
            background: none
            opacity: 0.5
            float: left
            cursor: pointer
        input
            width: 60px
            float: right
            @include transition(1s)
            height: 30px
            font-size: em(18px)
            box-shadow: none
            padding: 0 10px 0 2px
            &:hover, &:focus, &:active,
            &:hover ~ button, &:focus ~ button, &:active ~ button
                opacity: 1
            &:focus
                width: 250px
                border-bottom: 1px solid $gray-color
                cursor: pointer
        button
            padding: 0
            height: 30px
            i, .fa
                font-size: 30px

// Search
.search-form
    input
        font-size: em(18px)
.search-section
    .search-form
        .input-group
            margin-bottom: 10px

// mobile menu
#menu
    display: none
.slideout-open
    #menu
        display: block
.mobile-buttons-menu
    margin-top: 20px
    button
        display: inline-block
        width: 100%
        margin-bottom: 15px
        padding: 0
        *
            float: right
            line-height: 32px
            color: $gray-color
        i, .fa
            margin: 0 0 0 10px
            width: 32px

// End Main Menu

// Breadcrumbs
.breadcrumbs
    font-size: em(14px)
    margin-bottom: 5px
    > li, > a
        float: left
        margin-right: 10px
        &:after
            font-family: "FontAwesome"
            content: "\f101" // fa-angle-double-right
            margin-left: 10px
        &:last-child
            margin-right: 0
    a
        color: $dark-color
        text-decoration: underline
        &:hover
            color: $accent-color
            text-decoration: none
