@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens - MD - для 1199 и менее*/
@media only screen and (max-width : 1199px)
    .align-center-md
        text-align: center
    #header-widget
        ul
            li
                font-size: 14px
                /* */

/* Medium Devices, Desktops - SM - для 991 и менее */
@media only screen and (max-width : 991px)
    .align-center-sm
        text-align: center
    /* */

/* Small Devices, Tablets - XS - для 767 и менее */
@media only screen and (max-width : 767px)
    .align-center-xs
        text-align: center

    /* Footer */
    footer
        .logo
            width: calc(50% - 20px)
            float: left
            margin: 0 5px
        .copyright
            width: calc(50% - 20px)
            float: left
            margin: 20px 5px 0
        .social-links
            width: calc(50% - 20px)
            float: left
            margin: 20px 5px 10px
        .title
            margin: 15px 0 15px
    /* */

/* Extra Small Devices, Phones - XS - для 480 и менее */
@media only screen and (max-width : 480px)
    #header-widget
        .user-panel
            .button
                padding: 0 8px
            .dropdown
                &.active
                    > a
                        i, .fa
                            &:after
                                right: 12px
                &.user.active
                    > a
                        i, .fa
                            &:after
                                right: 10px
    #header
        .logo
            margin: 10px 0
        h1
            margin: 0
            font-size: 28px
            width: 240px
            .slogan
                font-size: 14px
                margin-top: 5px
        .menu-toggle-button
            margin-top: 3px
            span
                display: none
            i, .fa
                margin: 0
        .social-links
            margin: 20px 0

    /* */

/* Custom, iPhone Retina - XS - для 320 и менее */
@media only screen and (max-width : 320px)
    /* */

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina - XS - для 320 и более */
@media only screen and (min-width : 320px)
	/* */

/* Extra Small Devices, Phones - XS - для 480 и более */
@media only screen and (min-width : 480px)
	/* */

/* Small Devices, Tablets - SM - для 768 и более */
@media only screen and (min-width : 768px)
	/* */

/* Medium Devices, Desktops - MD - для 992 и более */
@media only screen and (min-width : 992px)
	/* */

/* Large Devices, Wide Screens - LG - для 1200 и более */
@media only screen and (min-width : 1200px)
	/* */