@import "bourbon"

$default-font: "OpenSans", sans-serif
$title-font: "RobotoCondensed", sans-serif

$accent-color: #0095d8
$accent-color-dark: #0079bf

$dark-color: #273849
$grey-color: #9a9da0 // #929597

$light-gradient-colors: #f6f9fa 0%, #f9f9fa 25%, #eeeeee 80%, #ececed 100%

=transition($time)
    transition: all $time ease