@import "bourbon"
@import "vars"
@import "libs"

// Slideout.js Menu
body
    width: 100%
    height: 100%
.slideout-menu
    position: fixed
    left: auto
    top: 0
    bottom: 0
    right: 0
    z-index: 0
    width: 256px
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    display: none

.slideout-panel
    position: relative
    z-index: 99999
    will-change: transform

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
    overflow: hidden
    height: 100%

.slideout-open .slideout-menu
    display: block

#menu
    font-size: 16px
    //box-shadow: 10px 10px 10px rgba(0, 0, 0, 1)
    padding: 12px 20px 20px
    .menu-close-button
        position: absolute
        top: 7px
        right: 10px
    .title
        display: inline-block
        width: 100%
        color: $gray-color
        margin: 15px 0 8px
        &:first-child
            margin-top: 0
    .menu
        width: 100%
        li
            a
                line-height: 1.7
                display: inline-block
                width: 100%
            i.fa
                float: right
                line-height: 1.7
                padding: 0 10px
                margin: 0
            ul
                display: none
                margin-left: 20px

//Custom styles here

// Widgets
.widget
    display: inline-block
    width: 100%
    a:not(.button)
        color: $gray-color
        &.text, & .text
            color: $dark-color
            text-decoration: none
            &:hover
                color: $accent-color
        &:hover
            color: $accent-color
            span
                text-decoration: none
        span
            text-decoration: underline
    &.widget-related
        .item
            position: relative
            display: inline-block
            width: 100%
            overflow: hidden
            .item-image
                margin-bottom: 10px

.sidebar
    img.avatar
        background-color: $light-color
    .title
        .small-description
            margin-top: -10px
    .small-description
        a
            color: $accent-color
            &:hover
                text-decoration: none
    .widget
        padding: 20px 0
        border-top: 2px solid #ededed
        border-bottom: 2px solid #dbdbdb
        color: $gray-color
        &:first-child
            border-top: none
            padding-top: 0
        &:last-child
            border-bottom: none
            padding-bottom: 0

        &.white-section
            padding: 15px 20px 20px
            border: 1px solid #eeeeee
        .widget-title
            display: inline-block
            width: 100%
            .title
                width: auto
                display: inline-block
                margin-bottom: 20px
            .filters
                width: auto
                display: inline-block
                line-height: 1
                float: right
                margin-bottom: 20px
                a
                    font-size: em(12px)
                    color: $dark-color
                    margin-left: 10px
                    &.active, &:hover, &:focus
                        color: $accent-color
        .all-items-button
            display: inline-block
            width: 100%
            margin-top: 10px
            padding: 10px
            text-align: center
            color: $dark-color
            text-decoration: none
            span
                text-decoration: none
            i, .fa
                color: $dark-color
            &:hover, &:focus, &.active
                i, .fa
                    color: $accent-color
        .item
            position: relative
            display: inline-block
            float: left
            width: 100%
            padding: 10px 0
            border-top: 1px solid #ededed
            border-bottom: 1px solid #dbdbdb
            &:first-child
                border-top: none
                padding-top: 0
            &:last-child
                border-bottom: none
                padding-bottom: 0
            .text
                float: left
                display: inline-block
            .item-info
                display: inline-block
                width: 100%
                margin-top: 10px
                font-size: em(13px)
                line-height: 22px
                i, .fa
                    font-size: 20px
                > a, > span, > div
                    float: left
                    margin-right: 20px
                    span, i, .fa, a, img
                        float: left
                        line-height: 22px
                    img
                        margin-right: 7px
                .date
                    font-style: italic
                    font-weight: 400
        &.widget-questions
            .item
                display: table
                width: 100%
                > *
                    display: table-cell
                    vertical-align: top
                .user-avatar
                    width: 65px
                .item-content
                    > *
                        float: left
                    .item-info
                        margin: 0 0 5px
                .answers
                    font-size: em(14px)
                    width: 100px
                    padding-left: 20px
                    span, i, .fa, a, img
                        float: left
                        line-height: 22px
                    i, .fa
                        float: left
                        font-size: 20px
                &.has-solution
                    .answers, .answers i, .answers .fa
                        color: $green-color
                        &:hover
                            span
                                color: $green-color
        &.widget-articles
            .item
                .item-image
                    float: left
                    width: 105px
                    margin: 5px 15px 0 0
                .item-content
                    display: inline-block
                    width: calc(100% - 125px)
        &.widget-comments
            .item
                display: table
                width: 100%
                border: none
                > *
                    display: table-cell
                    vertical-align: top
                .user-avatar
                    width: 65px
                .item-content
                    position: relative
                    padding: 10px 15px 15px
                    background: #f4f4f4
                    border: 1px solid $light-color
                    border-radius: 3px
                    &:before
                        content: ""
                        width: 12px
                        height: 12px
                        background: #f4f4f4
                        border: 1px solid $light-color
                        border-top: none
                        border-right: none
                        transform: rotate(45deg)
                        position: absolute
                        top: 15px
                        left: -7px
                    > *
                        float: left
                    .item-info
                        margin: 0 0 5px
                .reply-link
                    i, .fa
                        font-size: 16px
                    margin: 0
        &.widget-tags
            .tags
                a
                    background: #f4f4f4
                    margin-bottom: 20px
.sidebar .widget.widget-users
    .horisontal
        .item.user
            width: auto
            border: none
            padding-top: 0
            .user-avatar
                width: auto
                min-width: inherit
                padding: 0
            .user
                display: inline-block
                width: 100%

.sidebar .widget.widget-users, .blog .users-list, .users-list
    .item
        display: table
        width: 100%
        > *
            display: table-cell
            vertical-align: middle
        .rating-position
            width: 30px
            min-width: 30px
            color: $dark-gray-color
        .user-avatar
            width: 65px
            min-width: 65px
            padding-right: 15px
        .user
            .login, .rank, .date, .text-1, .text-2
                display: inline-block
                width: 100%
                float: left
            .login
                color: $dark-color
                text-decoration: none
                span
                    text-decoration: none
            .rank, .text-1
                font-size: em(14px)
                color: $dark-gray-color
            .date, .text-2
                font-size: em(12px)
                color: $gray-color
                white-space: nowrap
        .rating, .statistic
            width: 90px
            font-family: $title-font
            font-size: em(24px)
            .count
                color: $accent-color
            .title
                font-size: 13px
                font-family: $default-font
                color: $gray-color
            .rating-up, .rating-down
                font-size: 0.5em
                top: -15px
                position: relative
                left: 0
                i, .fa
                    float: left
                    margin: 3px 3px 0 0
                    color: inherit
            .rating-up
                color: $green-color
            .rating-down
                color: $red-color
.blog .users-list,
.users-list
    .item.user
        padding: 15px 10px 15px 0
        &:first-child
            padding-top: 15px
        .user-avatar
            &.big
                width: 115px
                min-width: 115px
                max-width: 115px
        &.online
            .user-avatar
                position: relative
                &.big
                    &:after
                        width: 12px
                        height: 12px
                        right: 22px
                &:after
                    content: ""
                    width: 8px
                    height: 8px
                    border-radius: 50%
                    background: $green-color
                    position: absolute
                    right: 15px
                    top: 0
                    border: 3px solid $light-color
                    box-sizing: content-box
        .statistic
            position: relative
            text-align: center
            &:not(.rating)
                width: 9%
                min-width: 9%
                max-width: 9%
            &.comments
                width: 13%
                min-width: 13%
                max-width: 13%
            > *
                float: none
            .title, .count
                display: inline-block
                width: 100%
                float: left
                text-align: center
            .count
                line-height: 1
            &:not(.rating)
                .count
                    color: $dark-gray-color
                    font-size: em(12px)
            &.rating
                padding-left: 50px
                width: 150px
                > *
                    text-align: left
        .buttons
            width: 50%
            text-align: right
            .button
                float: none
                margin: 0 0 10px 20px
        .last-message
            color: $dark-gray-color
        .date
            text-align: right
            vertical-align: top
            width: 120px
    a.item.user
        text-decoration: none
        padding: 15px 10px
        span
            text-decoration: none
        &:hover
            background: #eeeeee
            border-top-color: #eeeeee
    &.horisontal
        .item.user
            .user-avatar
                &.big
                    width: 50%

// like-dislike widget
.like-dislike-widget
    color: $gray-color
    margin-top: 5px
    .buttons
        display: inline-block
        white-space: nowrap
        height: 26px
        .like, .dislike
            padding: 0
            text-decoration: none
            .count
                color: $dark-gray-color
                text-decoration: none
                position: relative
                top: -3px
            i, .fa
                font-size: 26px
        .like
            margin-right: 25px
    .percentage
        float: left
        margin-top: 5px
        .percentage-like
            background: $accent-color
.table-block
    .fixed-block
        .like-dislike-widget
            .buttons
                min-width: inherit
.percentage
    width: 100%
    height: 3px
    background-color: $gray-color
    .value
        height: 3px
        border-right: 1px solid #eeeeee

// social share widget
#social-buttons-widget
    .text
        margin: 0 20px 10px 0
        width: 100%

.table-block.page-title
    margin-bottom: 15px

// Page Info
.page-info
    display: inline-block
    width: 100%
    float: left
    > div
        float: left
        display: inline-block
        margin: 0 20px 10px 0
        color: $dark-gray-color
        font-size: em(13px)
        &:last-child
            margin-right: 0
    .clearfix
        display: none
        float: none
        margin: 0
    a, a span
        color: $dark-gray-color
    a:hover, a:hover span, a:hover i,
    .active a, .active span, .active i
        color: $accent-color
    .user
        img
            margin-right: 7px
    i, .fa
        font-size: 20px
        color: $gray-color
    i, img, a, time, span
        float: left
        line-height: 22px
    .like-dislike-widget
        margin-top: 0
        height: 22px
        .buttons
            height: 22px
            .like, .dislike
                .count
                    position: relative
                    top: 0
                i, .fa
                    font-size: 20px
            .like
                margin-right: 20px
// Page Tags
.tags
    float: left
    a
        float: left
        padding: 0 10px
        margin: 0 25px 15px 0
        background: #e7e7e7
        border: 1px solid #eeeeee
        border-radius: 3px
        font-family: $title-font
        color: $dark-color !important
        text-decoration: none !important
        span
            text-decoration: none !important
            &:first-child
                border-right: 1px solid $light-color
                padding-right: 5px
        .count
            float: right
            border-left: 1px solid #eeeeee
            padding-left: 5px
        &:hover
            color: $accent-color

// Content
#content
    .title
        display: inline-block
        width: 100%
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6
            display: inline-block
            margin-right: 25px
        .small-description
            display: inline-block
            margin-bottom: 0
            a
                color: $gray-color
    .page-text
        float: left
    .tags
        display: inline-block
    #social-buttons-widget
        margin-bottom: 10px
        li
            margin-bottom: 10px
    .submenu
        .item
            position: relative
            display: inline-block
            width: 100%
            margin: 0 0 20px 0
            overflow: hidden
        &.title-on-image
            .item
                .title
                    @include title-on-image(auto, auto, 0, 0)
                    padding: 7px 20px
                    line-height: 1.3
                .label
                    position: absolute
                    right: 10px
                    font-size: em(14px)
                    text-decoration: none
                &:hover .title
                    bottom: -100%
                &:hover .title,
                &:hover .title span
                    color: $dark-color

    // Contact Page
    .social-links
        a
            display: inline-block
            width: 100%
            float: left
            margin-bottom: 20px
            text-decoration: none
            line-height: 50px
            &:last-child
                margin-bottom: 0
            i, .fa, span
                float: left
            i, .fa
                font-size: 50px
                width: 50px
                text-align: center
                margin-right: 20px
        a, i, .fa
            color: $dark-color
        a:hover, a:hover i, a:hover .fa
            color: $accent-color
        a:hover span
            text-decoration: none

// Blog List

.blog
    display: inline-block
    width: 100%
    margin-bottom: 20px
    .item
        position: relative
        display: inline-block
        width: 100%
        float: left
        border-top: 1px solid #ffffff
        border-bottom: 1px solid #eeeeee
        padding-top: 25px
        &:first-child
            border-top: none
            padding-top: 0
        &.full
            .item-image, .item-text
                width: 100%
                margin-left: 0
                margin-top: 0
            .item-text
                p:last-of-type
                    margin-bottom: 20px
        .item-image
            float: left
            width: calc(35% - 25px)
            margin: 0 25px 20px 0
        .item-text
            width: 65%
            position: relative
            float: left
            overflow: hidden
            text-overflow: ellipsis
            p:last-of-type
                margin-bottom: 0
        .item-title
            width: 100%
            float: right
        .delimiter
            .link
                left: 65%
        .item-info
            display: inline-block
            width: 100%
            margin: 15px 0 0
        &:not(.full)
            .item-text
                height: 0
            .read-more
                position: absolute
                bottom: 0
                right: 0
                font-size: 20px
                background: $light-color
                padding-left: 5px
        h3, .h3
            float: left
        .category
            display: inline-block
            width: 100%
            float: left
            > li, > a
                &:after
                    color: $gray-color
            a
                color: $dark-gray-color
                &:hover
                    color: $accent-color
        &.question
            .item-text
                width: 100%
                margin: 0 0 15px
            .item-info
                margin: 0
            .tags, .item-info, .breadcrumbs
                padding: 0 0 0 70px
            .breadcrumbs
                padding-right: 100px
            .item-content
                display: table
                width: 100%
                > *
                    display: table-cell
                    vertical-align: top
                .user-avatar
                    width: 70px
                    padding: 5px 0 0
                .item-title
                    > *
                        float: left
                    .item-info
                        margin: 0 0 5px
                .answers-count
                    width: 100px
                    padding: 5px 0 0 20px
                    text-align: center
                    a
                        text-decoration: none
                    .count, .title
                        float: left
                        width: 100%
                        text-align: center
                    .count
                        font-family: $title-font
                        font-size: em(24px)
                        line-height: 1
                        text-decoration: none
                    .title
                        font-size: em(14px)
            &.has-solution
                .answers-count
                    color: $green-color
                    > *, .count, .title
                        color: $green-color
                    &:hover
                        > *, .count, .title
                            color: $green-color
        &.notification
            display: table
            padding: 15px 0
            &:after
                content: none
            > *
                display: table-cell
                vertical-align: middle
            .icon
                width: 50px
                i, .fa
                    font-size: 30px
            .content
                > *
                    display: inline-block
                    width: 100%
                    float: left
                .date
                    font-size: em(12px)
                    color: $gray-color
            .buttons
                width: 50px
                text-align: center

    .filters
        display: inline-block
        width: 100%
        float: left
        padding: 10px 0
        border-top: 1px solid #ffffff
        border-bottom: 1px solid #eeeeee
        color: $dark-gray-color
        font-size: em(14px)
        & + .list
            border-top: 1px solid #ffffff
            padding-top: 20px
        .on-page
            float: left
            margin-right: 20px
        .sort
            float: right
            > *
                float: left
            .sortby, .direction
                margin-left: 10px
            .direction
                button
                    float: left
                    padding: 0 5px
                    margin-left: 5px
                    i, .fa
                        margin: 0
    &.with-filters
        border-top: 1px solid #eeeeee
    .list
        float: left
        width: 100%
    .pagination
        display: inline-block
        width: 100%
        border-top: 1px solid #ffffff
        padding-top: 20px
// Pagination
.pagination
    text-align: center
    li
        float: left
        padding: 6px 10px
        border: 1px solid rgba(255, 255, 255, 0)
        margin-right: 5px
        cursor: pointer
        &:last-child
            margin-right: 0
        &.active, &:hover
            border-radius: 2px
            border: 1px solid rgba(255, 255, 255, 0.15)
            background: $accent-color
            a, i, .fa, span
                color: #ffffff
                text-decoration: none
        &:hover
            background: $accent-color-dark
        a
            color: $dark-gray-color
        &.last, &.next
            i, .fa
                margin-left: 5px
        &.first, &.before
            i, .fa
                margin-right: 5px

// End Widgets

// Comments
.comment
    float: left
    display: inline-block
    width: 100%
    .comment-left-side
        float: left
        width: 50px
        margin-right: 20px
    .comment-right-side
        float: left
        width: calc(100% - 70px)

    .like-dislike
        position: relative
        margin-top: 10px
        padding-top: 28px
        text-align: center
        .total-count
            position: absolute
            top: 0
            left: 50%
            margin: 0
            padding: 0
            font-size: em(20px)
            .count
                position: relative
                left: -50%
        button
            height: 20px
            float: left
            padding: 0
            &:last-child
                float: right
            i, .fa
                font-size: 20px

    .comment-container
        background: #ececec
        border-radius: 3px
        border: 1px solid #eeeeee
        .container-header
            display: inline-block
            width: 100%
            float: left
            padding: 7px 10px 7px 20px
            border-bottom: 1px solid #e5e5e5
            > *
                float: left
                margin-right: 20px
                line-height: 24px
                &:last-child
                    margin-right: 0
        .container-body
            display: inline-block
            width: 100%
            float: left
            padding: 5px 10px 15px 20px
            border-top: 1px solid #f4f4f4
    .user
        text-decoration: none
        .login
            color: $dark-color
            text-decoration: none
            font-weight: bold
    a.user
        .login:hover
            color: $accent-color
    .date
        font-size: em(14px)
        color: $dark-gray-color
        font-style: italic

    .buttons
        > *
            padding: 0 5px
            margin-left: 5px
        i, .fa
            font-size: 20px
    .comment-text
        p
            margin-bottom: 10px
            &:last-of-type
                margin-bottom: 5px
    .reply
        float: right
        > *
            float: left
        span
            line-height: 20px
        i, .fa
            margin-top: 5px

.comments-list
    display: inline-block
    width: 100%
    margin-bottom: 20px
    > .comment
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
    .comments-list
        margin: 20px 0 0 70px
        width: calc(100% - 70px)
        padding: 0
        .comment-container
            background: #f0f0f0

.user-info
    text-decoration: none
    display: inline-block
    margin-bottom: 10px
    float: left
    .avatar
        float: left
        margin-right: 7px
    .login
        float: left
        text-decoration: underline
        color: $dark-gray-color
        &:hover
            text-decoration: none
            color: $accent-color
// End Comments

// Tree
ul.tree
    padding: 10px 20px
    margin: 0 20px
    border-left: 3px solid #e1e0e4
    li
        display: inline-block
        width: 100%
        margin: 2px 0
        a
            position: relative
            text-decoration: none
            color: $dark-color
            &:hover
                color: $accent-color
            &:before
                content: ''
                display: inline-block
                position: absolute
                top: calc(50% - 2px)
                left: -20px
                width: 12px
                height: 3px
                background: #e1e0e4
                border-bottom: 1px solid #ffffff
        ul
            display: inline-block
            width: 100%
            padding: 10px 20px
            margin: 0 20px
            border-left: 3px solid #e1e0e4
// Slide down container
.slide-down-container
    display: inline-block
    width: 100%
    margin-bottom: 10px
    .slide-down-button
        text-decoration: none
        span
            border-bottom: 1px dashed
        i, .fa
            @include transition(0.5s)
        &:hover
            span
                border-bottom: none
    .slide-down-content
        display: none
        clear: both
    &.open
        .slide-down-button
            i, .fa
                transform: rotate(180deg)
        .slide-down-content
            display: block

// Footer
body.is-windows-phone
    footer
        .logo
            height: 100%
footer
    padding: 30px 0 50px 0
    color: $gray-color !important
    .logo
        height: auto
    .first-column
        margin-left: 25px
    .copyright
        color: $gray-color
        font-size: em(14px)
        margin-top: 35px
    .social-links
        margin-top: 40px

    .title
        margin: 15px 0 20px

    .contact-menu
        margin-top: 24px
        i, .fa
            color: #ffffff
// End Footer

/* USER PROFILE */
.user-profile
    #user-content-section
        display: table-cell
        width: 100%
        padding-left: 20px
    #user-menu-section
        display: table-cell
        vertical-align: top
        height: 100%
        background: #f5f5f5
        border-radius: 5px
        .user-menu
            text-align: center
            li
                display: inline-block
                width: 100px
                border-top: 1px solid #fff
                border-bottom: 1px solid #eee
                &:first-child
                    border-top: none
                &:last-child
                    border-bottom: none
                a
                    display: inline-block
                    width: calc(100% - 10px)
                    margin: 5px
                    padding: 5px 0 // 10px 0
                    text-decoration: none
                    > *
                        color: $dark-color
                    i, .fa
                        width: 100%
                        text-align: center
                        margin: 0
                        font-size: 20px // 24px
                    span
                        text-decoration: none
                        font-size: em(14px)
                &.active, &:hover
                    a
                        > *
                            color: $accent-color
                    &.notification:after
                        border-color: #e7e7e7
                &.notification:after
                    right: 20px
                    top: 7px
                    border-color: $dark-color

    #user-section
        display: inline-block
        float: left
        width: 100%
        background: $light-color
        border-radius: 3px 3px 0 0
        .user-avatar
            width: 200px
            height: 200px
            float: left
            padding: 5px
            .avatar
                width: 100%
                border-radius: 3px
        .user-profile-picture
            display: inline-block
            float: left
            width: calc(100% - 200px)
            height: 200px
            border-top-right-radius: 3px
            .gradient
                display: inline-block
                width: 100%
                height: 100%
                background: linear-gradient(to right, $light-color 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%)
        .user-avatar,
        .user-profile-picture
            position: relative
            .buttons
                position: absolute
                bottom: 0
                width: 100%
                padding: 0 20px 10px
        .user-info
            padding: 10px 20px 0
            > div
                display: inline-block
                width: 100%
            .login
                font-size: em(24px)
                font-family: $title-font
                color: #3d4347
                text-decoration: none
                &:hover
                    color: inherit
            .fullname
                font-size: em(18px)
            .rank
                color: $accent-color
                margin: 5px 0 5px
            .rating-position
                .label
                    display: inline-block
                    background: #ffffff
                    border: 1px solid #eeeeee
                    border-radius: 12px
                    padding: 1px 0 1px 10px
                    font-family: $title-font
                    font-size: em(16px)
                    line-height: 22px
                    > *
                        float: left
                    svg.image
                        position: relative
                        top: 1px
                        width: 22px
                        margin-left: 5px
                        path
                            fill: $dark-color
            .is-online
                font-size: em(12px)
                color: $dark-gray-color
                font-weight: bold
                position: relative
                top: 10px
                margin-left: 15px
                &.online
                    color: $green-color
        .user-avatar
            .buttons
                padding: 0 20px 10px 0
    #content
        margin-bottom: 0
    #user-section + #content
        padding-top: 10px
        border-radius: 0 0 3px 3px

.user-statistics
    display: inline-block
    float: left
    width: 100%
    background: #ffffff
    border-top: 1px solid #eeeeee
    border-bottom: 1px solid #eeeeee
    padding: 0 20px
    height: 48px
    color: #565a5f
    a.item:hover, a.item.active
        > *
            color: $accent-color
    .item
        float: left
        display: inline-block
        margin-left: 25px
        &:first-child
            margin-left: 0
        > *
            color: #565a5f
            font-size: em(14px)
            line-height: 48px
            float: left
        i, .fa
            font-size: 16px
            margin: 0
            color: $dark-gray-color
        .count
            text-decoration: none !important
            font-size: em(20px)
            margin-right: 5px
        &.subscribers
            margin: 0
        &.rating
            .count
                color: $accent-color
                font-weight: bold
                margin: 0 0 0 5px

.info-list
    display: inline-block
    width: 100%
    &.two-col
        .item
            width: 50%
    .item
        display: inline-block
        width: 100%
        float: left
        margin-bottom: 15px
        .title, .value
            display: inline-block
            width: 100%
            float: left
        .title
            font-size: em(12px)
            line-height: 16px
            color: $gray-color
        .value
            line-height: 20px
            i, .fa
                color: inherit

.images-collage
    display: inline-block
    width: 100%
    > *
        float: left
        display: inline-block
        width: calc(100% / 3)
        border: 1px solid $light-color
        &:first-child
            width: calc(2 * 100% / 3)

.user-awards
    display: inline-block
    width: 100%
    margin: 0 -10px
    .item
        float: left
        display: inline-block
        width: 10%
        padding: 0 10px
        margin-bottom: 20px
        .small-description
            margin-bottom: 0


.widget
    &.user-balance-widget
        .user-balance
            margin-top: -10px
            margin-bottom: 10px
            .count
                font-size: em(50px)
                color: $accent-color
                margin-right: 10px
        .buttons
            margin-bottom: 10px
            display: inline-block
        .small-description
            margin-bottom: 0

/* Users messages */
.dialogs.users-list
    .item.user
        .user
            width: 20%
        .buttons
            width: 50px
            vertical-align: top
            button:hover
                span, i
                    color: $accent-color
    a.item
        &:hover
            span, button i
                color: $gray-color
.dialogs-users.users-list
    .item.user
        padding: 10px 0
.dialog
    .slimScrollDiv
        display: inline-block
    .filters
        padding-left: 10px
        padding-right: 10px
        .back
            float: left
            margin: 10px 20px 0 0
            line-height: 1
            i, .fa
                font-size: 30px
        button
            line-height: 1
            i, .fa
                font-size: 20px
    .dialog-user-info
        display: inline-block
        float: left
        .user-avatar
            float: left
        .user
            float: left
            margin-left: 10px
            position: relative
            top: 8px
            > *
                display: block
            .login
                color: $dark-color
                font-size: em(16px)
            .is-online
                color: $gray-color
                font-size: em(12px)
    .messages-container
        display: inline-block
        padding: 10px 10px 30px
        width: 100%
        float: left
        .message
            position: relative
            border: none
            padding-top: 25px
            .user,
            .content
                float: left
                display: inline-block
            .user
                position: absolute
                top: 25px
                left: 0
            .content
                position: relative
                margin-left: 60px
                max-width: calc(100% - 60px)
                background: $light-color
                border-radius: 5px
                padding: 10px 45px 10px 15px
                clear: both
                background: #e5e5e5
                & ~ .content
                    margin-top: 10px
                    .date
                        display: none
                &:hover
                    background: #eeeeee
                    .buttons
                        display: inline-block
                .attachments
                    margin-top: 10px
                .date
                    position: absolute
                    top: -20px
                    right: 0
                .buttons
                    display: none
                    position: absolute
                    top: 10px
                    right: 15px
            &.outgoing-message
                .content
                    background: #c1ddea

    #message-form
        display: inline-block
        width: 100%
        position: relative
        margin-top: 20px
        textarea, .textarea
            min-height: 50px
            max-height: 200px
            width: calc(100% - 50px)
            float: left
            padding: 13px 70px 13px 15px
            line-height: 1.2
            outline: 0
            resize: none
            overflow-y: auto
            overflow-x: hidden
            word-wrap: break-word
        button.send-message
            position: absolute
            bottom: 8px
            right: 0
            i, .fa
                font-size: 30px
        .buttons
            position: absolute
            bottom: 12px
            right: 60px
            button
                i, .fa
                    font-size: 20px

@import "media"